.main-register{
    height:100vh;
     width:100vw;
    background-color:#E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-box{
    width: 60rem;
    height: 30rem;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}
.card{
    padding: .5rem;
}
.first-card{
width: 50%;
height: 100%;
}
.second-card{
width: 50%;
height: 100%;
}
.inside-box{
    display: flex;
    align-items: center;
    gap:1rem
}
.imagess{
    width: 100%;
    height: 20rem;
    background-image: url(../../assets/360_F_97589769_t45CqXyzjz0KXwoBZT9PRaWGHRk5hQqQ.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}